{% extends "base_sidenavi.html" %}

{% block title %}About Us&nbsp;&gt;&nbsp;Our Business{% endblock %}

{% block content %}
			<h2>Our Business</h2>
			<div class="box">
				<h3>Investment</h3>
				<p>
                    We provide capital to Vietnamese venture companies. We cover the whole emerging market economies in Vietnam including student entrepreneurs, venture firms, OTC market and listed companies.
				</p>
				<h3>Professional Incubation</h3>
				<p>
					We discover unique and yet practical business opportunities in the fast-growing Vietnamese market and roll out the "Professional Incubation Service" with our experienced personnel in investment, management and development.
				</p>
				
				<p class="right last"><span class="in_link">For further details on our business, please refer to <a href="/service">Services</a>.</span></p>
			</div>
{% endblock %}

{% block sidenavi %}
            <ul>
	            <li><a href="/company">Corporate Data</a></li>
	            <li><a href="/company/mission">Our Mission</a></li>
	            <li class="active"><a href="/company/business">Our Business</a></li>
            </ul>
{% endblock %}