{% extends "base_sidenavi.html" %}

{% block title %}Jobs&nbsp;&gt;&nbsp;Contact Us{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/ext/resources/css/ext-all.css" />
<link rel="stylesheet" type="text/css" href="/ext/resources/css/xtheme-gray.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/file-upload.css"/>
<style>
    .upload-icon {
        background: url('/images/image_add.png') no-repeat 0 0 !important;
    }
    #fi-button-msg {
        border: 2px solid #ccc;
        padding: 5px 10px;
        background: #eee;
        margin: 5px;
        float: left;
    }
</style>
<script type="text/javascript" src="/ext/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="/ext/ext-all.js"></script>
<script type="text/javascript">
Ext.onReady(function(){

    Ext.QuickTips.init();

    // turn on validation errors beside the field globally
    Ext.form.Field.prototype.msgTarget = 'side';

    var formDiv = Ext.get('form');

    var msg = function(title, msg, icon){
        Ext.Msg.show({
            title: title, 
            msg: msg,
            minWidth: 200,
            modal: true,
            icon: icon,
            buttons: Ext.Msg.OK
        });
    };

    /*
     * ================  Contact form  =======================
     */

    var fp = new Ext.FormPanel({
        labelWidth: 75, // label settings here cascade unless overridden
        frame: true,
        title: 'Contact Form',
        bodyStyle: 'padding:5px 5px 0',
        width: 530,
        defaults: {width: 230, allowBlank: false},
        defaultType: 'textfield',
        renderTo: formDiv,

        items: [{
                fieldLabel: 'Name',
                name: 'name'
            },{
                fieldLabel: 'Company',
                name: 'company',
                allowBlank: true
            }, {
                fieldLabel: 'Email',
                name:'email',
                vtype:'email'
            }, {
                fieldLabel: 'Subject',
                name: 'subject'
            }, {
                xtype: 'textarea',
                fieldLabel: 'Content',
                name: 'body',
                width: 410,
                height: 180
            }
        ],

        buttons: [{
            text: 'Send',
            handler: function(){
                if(fp.getForm().isValid()){
	                fp.getForm().submit({
	                    url: 'contact/sendemail',
	                    waitMsg: 'Sending your message...',
	                    success: function(fp, o){
	                        msg('Success', 'Your message was sent to ngi vietnam. We will get back to you as soon as we can.', Ext.Msg.INFO);
	                    },
	                    failure: function(fp, o){
	                        msg('Failure', 'An error occured while sending your email. Please try again later.', Ext.Msg.ERROR)
	                    }
	                });
                }
            }
        },{
            text: 'Reset',
            handler: function(){
                fp.getForm().reset();
            }
        }]
    });

});
</script>
{% endblock %}

{% block content %}
			<h2>Contact Us</h2>
			<p>
				Please use the form below to send any requests, questions or comments to us.<br />
				We will get back to you as soon as we can.
			</p>

            <p id='form'></p>
{% endblock %}

{% block sidenavi %}
		<ul>
			<li><a href="/recruit">Job Openings</a></li>
			<li class="active"><a href="/recruit/contact">Contact Us</a></li>
		</ul>
{% endblock %}