{% extends "base_sidenavi.html" %}

{% block title %}Jobs&nbsp;&gt;&nbsp;Contact Us{% endblock %}

{% block content %}
			<h2>Contact Us</h2>
			<p>
				Please use the form below to send any requests, questions or comments to us.<br />
				We will get back to you as soon as we can.
			</p>

            <form class="contact" action="/recruit/contact/confirmemail" method="post">
                <table>
                    <tr>
                        <th>Email:&nbsp;</th>
                        <td>
                            <input class="text" name="email" type="text" size="30" value="{{ request.params.email }}" />
                            <font color='red'>{{ error }}</font>
                        </td>
                    </tr>
                    <tr>
                        <th>Subject:&nbsp;</th>
                        <td>
                            <input class="text" name="subject" type="text" size="30" value="{{ request.params.subject }}" />
                        </td>
                    </tr>
                    <tr>
                        <th>Content:&nbsp;</th>
                        <td>
                            <textarea name="body" rows="5" cols="50">{{ request.params.body }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="button" type="submit" value="Submit"/>
                        </td>
                    </tr>
                </table>
            </form>
{% endblock %}

{% block sidenavi %}
		<ul>
			<li><a href="/recruit">Job Openings</a></li>
			<li class="active"><a href="/recruit/contact">Contact Us</a></li>
		</ul>
{% endblock %}