{% extends "base_sidenavi.html" %}

{% block title %}About Us&nbsp;&gt;&nbsp;Our Mission{% endblock %}

{% block content %}
			<h2>Our Mission</h2>
			<div class="box">
				<h3>Vietnamese Market Accelerator</h3>
				<p>
                    Under the name of “Next Generation Innovator”, we drive the Vietnamese venture community by encouraging entrepreneurship to build the infrastructure for the new era of Vietnam.
                </p>
                <h3>Asian Ventures Networking Hub</h3>
                <p>
                    Starting off with bridging Japan and Vietnam, we build the Asian "Global Venture Network".
				</p>
			</div>
			<h2>Our Policy</h2>
			<div class="box">
				<h3>Collaboration Partner</h3>
				<p>
                    We put ourselves in a position to actively collaborate with our investment and incubation partners and thrive together on challenges and competition.<br />
                </p>
			</div>
{% endblock %}

{% block sidenavi %}
            <ul>
	            <li><a href="/company">Corporate Data</a></li>
	            <li class="active"><a href="/company/mission">Our Mission</a></li>
	            <li><a href="/company/business">Our Business</a></li>
            </ul>
{% endblock %}