{% extends "base_sidenavi.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
			<h2>Corporate Data</h2>
			<div class="company_info">
				<table summary="company_info">
					<tr>
						<th>Name</th>
						<td>
							ngi vietnam Co., Ltd.
						</td>
					</tr>
					<tr>
						<th>Board of Directors</th>
						<td>
						    Chairman:  Satoshi Koike<br />
							President &amp; CEO:  Satoshi Sekine<br />
							Executive Vice President &amp; CTO:  Gyo Hamamoto<br />
							Advisor:  Iwao Matsuda<br />
							Advisor:  Chu Tuan Cap<br />
							Advisor:  Vu Tien Loc<br />
						</td>
					</tr>
					<tr>
						<th>Head Office</th>
						<td>
							205 Thanh Dong Building, 132-138 Kim Ma St., Ba Dinh Dist., Ha Noi, Vietnam<br />
							（ TEL ）84-4-734-7632<br />
							（ FAX ）84-4-734-7633
						</td>
					</tr>
					<tr>
						<th>Founded</th>
						<td>Sep 12, 2008</td>
					</tr>
					<tr>
						<th>Capital</th>
						<td>800,000 USD</td>
					</tr>
					<tr>
						<th>Business</th>
						<td>Investment<br />Business and technology incubation</td>
					</tr>
					<tr>
						<th>Share Holders</th>
						<td>ngi group inc. (100%)</td>
					</tr>
				</table>
			</div>
{% endblock %}

{% block sidenavi %}
            <ul>
	            <li class="active"><a href="/company">Corporate Data</a></li>
	            <li><a href="/company/mission">Our Mission</a></li>
	            <li><a href="/company/business">Our Business</a></li>
            </ul>
{% endblock %}