{% extends "base_sidenavi.html" %}

{% block title %}Services{% endblock %}

{% block pagetop %}<a name="top"></a>{% endblock %}

{% block content %}
			<h2>Our Services</h2>
			<p>
				ngi vietnam provides various management and consulting services in the field of
			    investment, business incubation and software development. We also dispatch,
			    delegate and coordinate agile offshore software development in Vietnam.
			</p>
			
			<div class="box service">
				<h3>Investment Management and Consulting</h3>
				<p>
					ngi vietnam provides consulting and support services of the Vietnam
					venture fund owned by ngi group, our parent company in Japan.
					We also provide EIR (entrepreneur in residence) whose role is
					to spend time with a portfolio company to provide his or
					her functional expertise. The EIR will sometimes enter the company
					as a full time executive (typically CEO or some “C” level role)
					if the company and the executive feel there is a good fit.
					Finally, we provide monitoring services of portfolio companies
					to keep track of their business and financial status.
				</p>
			</div>
			
			<div class="box service">
				<h3>Business Incubation Management and Consulting</h3>
				<p>
					ngi vietnam helps Vietnamese local entrepreneurs to start up
					a new business in Vietnam and provides them with
					various consulting services to share incubation know-hows
					accumulated in the ngi group since 1998. We also provide them
					with the software development management service that lets them
					outsource their software development to other local companies
					and helps them manage the development process.
				</p>
			</div>
	
			<div class="box service">
				<h3>Offshore Development Management and Consulting</h3>
				<p>
					ngi vietnam supports companies in Japanese IT industry to develop
					their software through our offshore development network.
					We first act as a matchmaker for Japanese companies who are seeking
					their partners in Vietnam to outsource software development
					and Vietnamese software engineering companies who are trying
					to find their customers in Japan. After the matchmaking is successful,
					we then become the bridge between them and provides them with
					various project management services through our unique agile offshore
					development methodology.
				</p>
			</div>
			<p class="right"><span class="in_link"><a href="#top">Top</a></span></p>
{% endblock %}

{% block sidenavi %}
		<ul>
			<li class="active"><a href="/service">Our Services</a></li>
			<li><a href="/service/contact">Contact Us</a></li>
		</ul>
{% endblock %}